@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for WebKit browsers */
  .no-scrollbar-y::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for Firefox, IE, Edge */
  .no-scrollbar-y {
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE/Edge */
  }
}
